body{
  margin: 0px;
  padding: 0px;
}

.header-logo{

}  
  header {
    border: 1px solid black;
    height: 114px;
    display: flex;
    row-gap: 12,8% ;

  }
  
    header > div {
    display: grid;
    grid-template-columns: 11.4% 87.7%;
    gap: 0,9%;
  
    border: 1px black;
    }

    main {
    padding: 20px 24px;
  }
  .header-logo {
    border: 1px black;
    width: 192px;
    height: 114px;
    background-color: rgb(211, 188, 188);   
  }
  .header-pub{
  border: 1px black;
    width: 1472px;
    height: 114px;
    background-color: #A6A6A6;
  }
  .header-nav{
    border: 1px black;
    width: 1679px;
    height: 76px;

  }
